#root {
  background-color: #eeeeee;
  height: 100vh;
}

.App {
  background-color: #FFFFFF;
  margin: 0em 25%;
}


.App-header {
  background-color: #003e7f;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.top-section {

}

.logo {
  height: 10em;
  display: inline-block;
}

#company-name {
  display: inline-block;
  margin-top: 0px;
}

.logo-bar {

}

.jumbotron {
  padding: 0px;
  background: #FFFFFF;
}

.jumbotron a img {
  width: 100%;
}

.navBar {
  z-index: 10;
  position: sticky;
  top: 0px;
  background: -webkit-linear-gradient(#0054a6, #002859);
  border-radius: .3em;
}
.nav-pills {
  display: -webkit-box;
}

.mainContent {
  padding: 1em;
  width: 75%;
  display: inline-block;
}

.sponsors {
  width: 25%;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
