.App {
  text-align: center;
  /*margin: 0em 30em;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #003e7f;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.logo {
  height: 7em;
}

.top-bar {
  margin-top: 3em;
}

.jumbotron {
  background: #FFFFFF;
}

.navBar {
  position: fixed;
  top: 0px;
  background: -webkit-linear-gradient(#0054a6, #002859);
  border-radius: .3em;
}
.nav-pills {
  display: -webkit-box;
}

.mainContent {
  float: left;
}

.sponsors {
  float: right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
